%tr{:id => question.id, :class => question_counter.even? ? 'shaded' : ''}
	%td= question.user_id
	%td= question.name ? CGI::unescape(question.name) : ''
	%td= CGI::unescape(question.question)
	%td= check_box_tag( 'disabled', :class => question.id)