%table{:id => 'questions_table'}
	%tr
		%th= "User Id"
		%th= "Name"
		%th= "Question"
		%th= "Disable Question"
	%tr{:id => 'blank_shit', :style => 'display:none;'}
	- render :partial => "question", :collection => @questions